#logo{

    background-color:#805a5c;
}


#portrait{

    background-color:#805a5c;

}

#blocillus{

}
#bloc{
    background-color:#805a5c;
}

#blocfin{

    border-top: 25px solid #333a41;

}

#dessin{
    background-color:#805a5c;

}

#formations{

    background-color:#afafaf;
}


#competences{
    background-color:#afafaf;

    text-align:center;


}






#interets{


    background-color:#805a5c;


}

#exp{


    background-color:#805a5c;


}

.titre{

    font-size:3rem;
}
#peinture{
    background-color:#acabab;

}

#titrepeinture{
    background-color:#dcb11b;

}

#titreillustration{
    background-color:#dcb11b;

}
#corps{
    background-color:#afafaf;

}


.liens /* Liens par défaut (non survolés) */
{
    text-decoration: none;
    color: black;

}

.liens.hover /* Apparence au survol des liens */
{
    text-decoration: underline;
    color: white;
}
