#bloc1{
    background-color:black;

}


#bloc2 a {
    color:#bb7061;
}


#bloc4 {
    background-color:black;
}


#stage{

    color:#bb7061;
}

#actuellement{

    color:#bb7061;
}



.titre{
    color:#bb7061;
    font-size:5em;
}

.titre2{
    color:#bb7061;
    font-size:3em;
}

.nom{
    color:#bb7061;

}

