header{
    background-image:url("../images/papillon.jpg");
    background-repeat:no-repeat;
    background-size:cover;

}


#formulaire{
    background-image:url("../images/fonds.jpg");
    background-repeat:no-repeat;

}



#jumbo{
    background-image:url("../images/fonds.jpg");
    background-repeat:no-repeat;

}



#un{
    background-image:url("../images/papillon.jpg");
    background-repeat:no-repeat;

}

#deux{
    background-image:url("../images/fonds.jpg");
    background-repeat:no-repeat;

}



#trois{
    background-image:url("../images/papillon.jpg");
    background-repeat:no-repeat;

}




footer{
    background-image:url("../images/fonds.jpg");
    background-repeat:no-repeat;

}


#inscription{
    background-image:url("../images/fonds.jpg");
    background-repeat:no-repeat;

}